In [87]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

In [88]:
df = pd.read_csv("spam_ham_dataset.csv")
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [89]:
data = df.drop(["Unnamed: 0", "label"], axis = 1)
data.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

In [90]:
data = data.rename(columns = {"label_num":"label"})
data.head()

                                                text  label
0  Subject: enron methanol ; meter # : 988291\r\n...      0
1  Subject: hpl nom for january 9 , 2001\r\n( see...      0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...      0
3  Subject: photoshop , windows , office . cheap ...      1
4  Subject: re : indian springs\r\nthis deal is t...      0

In [91]:
x = data["text"]
y = data["label"]

In [92]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
#x_train

In [93]:
#model = GaussianNB()
model = LogisticRegression()

In [94]:
# transform the text data into feature vectors
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

X_train_features = feature_extraction.fit_transform(x_train)
#X_test_features = feature_extraction.transform(x_test)

In [95]:
X_train_features = X_train_features.toarray()
model.fit(X_train_features, y_train)

LogisticRegression()

In [96]:
acc = model.score(X_train_features, y_train)
acc

0.9961315280464217

In [108]:
#Ham
val = input_mail = [
    """Subject: tenaska iv july
darren :
please remove the price on the tenaska iv sale , deal 384258 , for july and enter the demand fee . the amount should be $ 3 , 902 , 687 . 50 .
thanks ,
megan"""]
             
# Spam
val = ["""Subject: vic . odin n ^ ow
berne hotbox carnal bride cutworm dyadic
guardia continuous born gremlin akin counterflow hereafter vocabularian pessimum yaounde cannel bitch penetrate demagogue arbitrary egregious adenosine rubin gil luminosity delicti yarmulke sauterne selfadjoint agleam exeter picofarad consulate dichotomous boyhood balfour spheric frey pillory hoosier fibonacci cat handful
"""]

In [109]:
input_val = feature_extraction.transform(val)
input_val

<1x38648 sparse matrix of type '<class 'numpy.float64'>'
	with 31 stored elements in Compressed Sparse Row format>

In [110]:
pred = model.predict(input_val)

In [111]:
if pred == 0:
    print("Ham")
else:
    print("Spam")

Spam